<%- include('../layouts/adminheader') %>

<div class="container">
  <h2 class="page-title">Add a Category</h2>
  <a href="/admin/categories" class="btn btn-primary">Back to all the categories</a>
  <br><br>
  <form action="/admin/categories/add-category" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>

<%- include('../layouts/adminfooter') %>
