<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin  page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/adminstyle.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>
     <a href="/" class="navbar-brand" target="_blank">Cms Shopping Cart</a>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="/admin/pages">Admin Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/pages">Pages</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/categories">Categories</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/products">Products</a></li>

      </ul>
    </div>
  </nav>

  <div class="container">
    <%= messages('messages', locals) %>
    <% if(errors) { %>
      <% errors.forEach(function(error) { %>
        <div class="alert alert-danger">
          <%= error.msg %>
        </div>
      <% }); %>
    <% } %>
  </div>
</body>

