/* Style for rows in the sortable table, except for those with the class "home" */
.sorting tr:not(.home) {
    cursor: move; /* Change cursor to indicate draggable */
}

/* Style for rows with the class "home" to visually indicate non-draggable */
.sorting tr.home {
    cursor: default; /* Use default cursor */
}

/* Style for the placeholder element while dragging */
.ui-state-highlight {
    border: 1px dashed #ccc; /* Apply dashed border */
}

#imgpreview{
    margin: 200px;
    border: 2px solid black;
}

#noimage{
    width: 100px;
    height: 100px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .gallery-item {
    position: relative;
  }
  
  .gallery-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .delete-image {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  table.alignmiddle td{
    vertical-align: middle !important;
   }